.container {
    display: flex;
    height: 100vh;
  
    .list {
      width: 100%;
      max-width: 300px;
      padding: 0 20px;
  
      & li {
        border-bottom: 1px solid #c8c8c8;
        padding: 10px 5px;
        text-align: start;
      }
    }
  
    .title {
      margin-bottom: 10px;
    }
  
    .buttons {
      & a {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        text-transform: uppercase;
      }
      & a:not(:last-child) {
        margin-right: 15px;
      }
    }
  }