@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  input {
    border: unset;
  }
}

@layer components {
  .content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .main {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  #app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .noHover {
    pointer-events: none;
  }

  .noItems {
    @apply text-base text-stone-600 my-2 p-2 italic
  }

  .btn-primary {
    @apply disabled:noHover disabled:bg-[#000]/65 disabled:text-main-white/65 pointer-events-auto shadow-md rounded-md px-2 py-1 text-center font-medium ring-1 hover:bg-simple-blue hover:text-main-white
  }

  .container {
    @apply h-full flex flex-col items-center justify-center
  }
}